/*  your css code here. If applicable */
.container{
	background-color:lightgray;
	border:4px solid black;
	border-radius:20px;
	padding:20px;
	display:flex;
	justify-content:center;
	gap:10px;
	position:center;
	margin:50px;
	
	
}
.green{
	width:200px;
	height:200px;
	background-color:green;
	border-radius:50%;
}
.yellow{
	width:200px;
	height:200px;
	background-color:yellow;
	border-radius:50%;
}
.red{
	width:200px;
	height:200px;
	background-color:red;
	border-radius:50%;
}
